body{
    background-color:#1fbae9;
}
.input-key{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    position: static;
    
}
.btn{
  width: 64px; 
  height: 66px; 
  border-radius: 100%;
  margin:3px;
  font-size: 26px;
}
.number-color{
    background: #212638;
    color: #ffffff;
}
.operator-color{
    background: #34509E;
    color: #ffffff;
}
.operator-special-color{
    background: #8490FF;
}
.zero{
    width: 130px;
    height: 66px;
    border-radius: 50px;
    margin: 5px;
    font-size: 26px;
   
    
}